/* @import "../index.css"; */

.contact-container {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 0.4rem;
  padding: 2rem 1rem;
  border-radius: 4px;
  background-color: var(--background);
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1);
  font-family: "Montserrat";
  position: relative;
  top: 90px;
  z-index: 1;
  width: 50%;
  /* padding: 0 20%; */
}

.contact-container h1 {
  color: var(--accent);
}
.contact-container p {
  color: var(--text-secondary);
  font-size: 1rem;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.contact-head {
  margin-bottom: 15px;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

.contact-container form input {
  padding: 0.7rem;
  border-radius: 4px;
  border: 1px solid var(--text-secondary);
}
.contact-container form textarea {
  padding: 0.7rem;

  border-radius: 4px;
  border: 1px solid var(--text-secondary);
  height: 100px;
}

.contact-container form input {
  background-color: rgb(240, 249, 255);
  color: var(--text-primary);
  border: 1px solid var(--accent) !important;
  font-size: 0.9rem;
  font-family: "Montserrat";
}
.contact-container form textarea {
  background-color: rgb(240, 249, 255);
  color: var(--text-primary);
  border: 1px solid var(--accent) !important;
  font-size: 0.9rem;
  font-family: "Montserrat";
}

.contact-container form button {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  background-color: var(--accent);
  color: var(--background);
  font-size: 1rem;
  cursor: pointer;
  font-family: "Montserrat";
  margin-top: 10px;
  font-weight: 500;
}
.contact-container form button:hover {
  background-color: var(--dark-blue);
}

.whatsapp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  background-color: rgb(78, 196, 94);
  color: var(--background);
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  font-family: "Montserrat";
}
.whatsapp-button:hover {
  background-color: rgb(26, 165, 56);
}

form input:focus {
  background-color: rgb(203, 230, 255);
  border: 1px solid var(--accent) !important;
}
form textarea:focus {
  border: 1px solid var(--accent) !important;
  background-color: rgb(203, 230, 255);
}

:-webkit-any(.form input:focus, .form textarea:focus) {
  border: 1px solid var(--accent) !important;
  background-color: rgb(203, 230, 255);
}
/* form input:hover {
  border: none !important;
}
form textarea:hover {
  border: none !important;
} */
