.contact-content-wrapper {
  padding: 1rem 17vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @media screen and (max-width: 900px) {
    padding: 1rem 1rem;
    gap: 0.5rem;
    height: 65vh;
  }
}

.contact-content-options {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and (max-width: 900px) {
    gap: 1rem;
    /*  */
  }
}
.contact-content-options h3 {
  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 900px) {
    font-size: 0.9rem;
  }
}
.contact-content-options p {
  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 900px) {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 5px;
  }
}

.contact-content-options button {
  width: 100%;
  padding: 1rem;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 5px;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 900px) {
    padding: 0.5rem 0.5rem;
    font-size: 0.6rem;
  }
}

.contact-content-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* gap: 1rem; */
}
.contact-logo-wrapper {
  width: 30%;

  gap: 1rem;
}
.contact-content-option img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
