@import "../index.css";

.main {
  /* height: 100vh;
  height: 100svh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* height: 100vh; */
}

.header {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  /* padding: 1rem 21rem; */
  padding: 1rem 17vw;
  border: 1px solid var(--accent);
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 100;
  background-color: "white";
  gap: 1rem;

  @media screen and (min-width: 2000px) {
    padding: 2vw 17vw;
  }

  @media screen and (max-width: 900px) {
    padding: 1rem 1rem;
  }
  @media screen and (max-width: 500px) {
    padding: 0.3rem;
    gap: 0;
  }
}

.header-scrolled {
  justify-content: space-between !important;
  transition: all 0.5s ease;
}
.header-scrolled-logo {
  margin-right: 0 !important;
  transition: all 0.5s ease;
}

.header-logo-container {
  height: 100%;
  position: relative;
  margin-right: auto;
  /* display: flex; */
  /* width: 5%; */
  /* z-index: 100; */
  /* padding-left: 12px; */
}

.header-logo-img-container {
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
.header-logo-img-container img {
  object-fit: contain;
  position: relative;
  top: 0;
  left: 0;
  width: 100px;

  @media screen and (min-width: 2000px) {
    width: 5vw;
  }

  @media screen and (max-width: 1300px) {
    width: 70px;
  }
  @media screen and (max-width: 500px) {
    width: 45px;
  }
}
.header-logo-img-container p {
  position: absolute;
  bottom: -7px;
  font-size: 8px;
  text-decoration: none;
  color: aliceblue;
  font-family: "favel";
  word-spacing: 0.06rem;
  letter-spacing: 0.02rem;
  font-weight: 100;
}

.header-logo-backdrop-container {
  height: 45px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  padding: 0 12.5px;
}

/* .header-logo-backdrop-white {
  height: 55%;
  width: 30px;
  position: absolute;
  background-color: white;
  left: 36px;
  top: -11px;
  rotate: 48deg;
}
.header-logo-backdrop-white-2 {
  height: 22%;
  width: 40px;
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 35px;
} */

.header-logo-backdrop {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 255, 106);
  position: relative;
  bottom: 0;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 100%;
  /* width: 100%; */
  gap: 1.7rem;
  /* width: 50%; */

  @media screen and (min-width: 2000px) {
    gap: 1vw;
  }

  @media screen and (max-width: 1300px) {
    gap: 0.6rem;
  }

  @media screen and (max-width: 900px) {
    gap: 0.5rem;
  }
  @media screen and (max-width: 500px) {
    gap: 0.3rem;
  }
}

.header nav ul li div {
  height: 100%;
  /* color: var(--text-tertiary); */
}

[lang-type="normal"] .header nav ul h1 {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 550;
  color: "white";

  @media screen and (min-width: 2000px) {
    font-size: 1vw;
  }

  @media screen and (max-width: 1300px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 900px) {
    font-size: 0.7rem;
    text-align: center;
  }
  @media screen and (max-width: 400px) {
    font-size: 0.55rem;
  }
}
[lang-type="long"] .header nav ul h1 {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 550;
  color: "white";

  @media screen and (min-width: 2000px) {
    font-size: 1vw;
  }

  @media screen and (max-width: 1300px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 900px) {
    font-size: 0.7rem;
    text-align: center;
  }
  @media screen and (max-width: 400px) {
    font-size: 0.5rem;
  }
}

.header nav ul h1:hover {
  color: var(--accent) !important;
  transition: color 0.2s !important;
}

[lang-type="normal"] .header-contact-button {
  background-color: var(--accent);
  /* height: 100%; */
  padding: 0.5rem 1rem;
  border-radius: 2px;
  color: white;

  @media screen and (min-width: 2000px) {
    font-size: 1vw;
    padding: 0.2vw 0.8vw;
    border-radius: 7px;
  }

  @media screen and (max-width: 1300px) {
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    border-radius: 2px;
  }

  @media screen and (max-width: 900px) {
    font-size: 0.7rem;
    padding: 0.3rem 0.3rem;
    border-radius: 2px;
  }

  @media screen and (max-width: 400px) {
    font-size: 0.5rem;
    padding: 0.4rem 0.2rem;
  }
}

[lang-type="long"] .header-contact-button {
  background-color: var(--accent);
  /* height: 100%; */
  padding: 0.5rem 1rem;
  border-radius: 2px;
  color: white;

  @media screen and (min-width: 2000px) {
    font-size: 1vw;
    padding: 0.2vw 0.8vw;
    border-radius: 7px;
  }

  @media screen and (max-width: 1300px) {
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    border-radius: 2px;
  }

  @media screen and (max-width: 900px) {
    font-size: 0.7rem;
    padding: 0.3rem 0.3rem;
    border-radius: 1px;
  }
  @media screen and (max-width: 500px) {
    font-size: 0.5rem;
    padding: 0.3rem 0.3rem;
    border-radius: 2px;
  }
}

.header-contact-button:hover {
  background-color: var(--dark-blue);
  transition: background-color 0.2s;
}

.footer-container {
  width: 100%;
  height: 65vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  @media screen and (min-width: 1400px) {
    height: 70vh;
  }

  @media screen and (max-width: 900px) {
    height: 52vh;
  }
}

.footer {
  color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #06111c;
  background-color: #001d3d;
  gap: 3rem;

  @media screen and (max-width: 900px) {
    gap: 0rem;
  }
}

.footer-body {
  display: flex;
  /* padding: 2rem 21rem;
  padding-left: 19rem; */

  padding: 0 17vw;
  gap: 3rem;

  @media screen and (min-width: 2000px) {
    padding: 1vw 10%;
  }

  @media screen and (max-width: 900px) {
    padding: 2rem 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footer-logo {
  /* width: 300px; */

  @media screen and (max-width: 900px) {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-body img {
  /* height: 100%; */
  width: 5vw;
  object-fit: contain;

  @media screen and (max-width: 900px) {
    width: 20vw;
  }
}

.footer-social-links {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  gap: 2rem;
  /* padding: 0.4rem 1.6rem; */

  @media screen and (max-width: 900px) {
    gap: 1rem;
    justify-content: center;
  }
}

.footer-social-links a {
  font-size: 2rem;
  color: white;
  text-decoration: none;

  /* @media screen and (min-width: 2000px) {
    font-size: 1.5vw;
  } */

  @media screen and (min-width: 2000px) {
    font-size: 2.5vw;
  }

  @media screen and (max-width: 900px) {
    font-size: 0.9rem;
  }
}

.footer-links {
  display: flex;
  /* gap: 4.3rem; */
  gap: 2rem;

  /* @media screen and (min-width: 2000px) {
    gap: 2vw;
  }

  @media screen and (max-width: 1300px) {
    gap: 1rem;
  } */

  @media screen and (max-width: 900px) {
    gap: 1rem;
  }
  @media screen and (max-width: 600px) {
    gap: 0.5rem;
  }
}
.footer-links h1 {
  cursor: pointer;
}
.footer-links p {
  cursor: pointer;
}

[lang-type="normal"] .footer-links h1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: white !important;
  cursor: pointer;

  @media screen and (min-width: 2000px) {
    font-size: 2vw;
  }

  @media screen and (max-width: 1300px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 900px) {
    font-size: 0.9rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 0.6rem;
  }
}

[lang-type="long"] .footer-links h1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: white !important;
  cursor: pointer;

  @media screen and (min-width: 2000px) {
    font-size: 2vw;
  }

  @media screen and (max-width: 1300px) {
    font-size: 0.8rem;
  }
  @media screen and (max-width: 900px) {
    font-size: 0.65rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 0.5rem;
  }
}

.footer-link h1:hover {
  color: var(--accent) !important;
}
.footer-link h1 {
  margin-bottom: 5px;
}

.footer-link p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #dddddd;

  @media screen and (min-width: 2000px) {
    font-size: 1.1vw;
  }

  @media screen and (max-width: 1300px) {
    font-size: 0.5rem;
  }
  @media screen and (max-width: 900px) {
    font-size: 0.4rem;
  }
}
.footer-link p:hover {
  color: var(--accent);
}

.footer-link {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.footer-services-link {
  width: 15%;
}
.footer-addressess {
  display: flex;
  padding: 1rem 17vw;
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 2rem;
  padding-left: 3rem;
  border-left: 1px solid white;
}
.footer-address p {
  font-size: 1rem;
  font-weight: 400;
  color: #dddddd;
}
.address-no-border {
  padding-left: 0;
  border: none;
}

.footer-rights {
  margin-left: auto;
  /* width: 300px; */

  @media screen and (max-width: 900px) {
    margin-left: 0;
  }
}
.footer-rights h1 {
  font-size: 1rem;
  font-weight: 500;
  color: #dddddd;
  text-align: right;

  /* @media screen and (min-width: 2000px) {
    font-size: 0.8vw;
  }

  @media screen and (max-width: 1300px) {
    font-size: 0.7rem;
  } */

  @media screen and (min-width: 2000px) {
    font-size: 1.4vw;
  }

  @media screen and (max-width: 900px) {
    font-size: 0.6rem;
  }
}

.footer-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 17vw;
  /* gap: 1rem; */
  background-color: #001225;
  height: 150px;
  @media screen and (min-width: 2000px) {
    /* padding: 1vw 10%; */
  }

  @media screen and (max-width: 900px) {
    padding: 1rem 1rem;
    height: 70px;
    flex-direction: column-reverse;
    gap: 0.3rem;
    align-items: center;
  }
}

.header-link-text {
  color: rgb(0, 0, 0);
}

.header-link-text-home {
  color: rgb(255, 255, 255) !important;
}

.header-link-active {
  color: var(--accent) !important;
}

.footer-rights-container {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1rem;
  position: relative;
}

.languages-icon-footer {
  border: 1px solid white;
  border-radius: 3px;
  padding: 0.5rem;
}
.languages-icon-footer:hover {
  background-color: var(--accent);
  transition: background-color 0.2s;
}

.languages-dropdown-footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 120%;
  align-items: center;
  justify-content: center;
  background-color: #001d3d;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  padding: 0.5rem;
  gap: 0.5rem;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  cursor: pointer;
}
.languages-dropdown-footer div {
  width: 100%;
  text-align: center;
}
