@import "../index.css";

.main {
  /* height: 100vh;
  height: 100svh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* height: 100vh; */
}

.header {
  display: flex;
  justify-content: flex-end;
  height: 8vh;
  padding: 1rem 22rem;
  padding-right: 22.5rem;
  /* gap: 1rem; */
  border: 1px solid var(--accent);
  width: 100%;
  max-width: 100%;
  margin-top: 2rem;
  /* border-radius: 3rem; */
  position: fixed;
  z-index: 100;
  background-color: "none";
  gap: 1rem;
}

.header-scrolled {
  justify-content: space-between !important;
  transition: all 0.5s ease;
}
.header-scrolled-logo {
  margin-right: 0 !important;
  transition: all 0.5s ease;
}

.header-logo-container {
  height: 100%;
  position: relative;
  margin-right: auto;
  /* display: flex; */
  /* width: 5%; */
  /* z-index: 100; */
  /* padding-left: 12px; */
}

.header-logo-img-container {
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
.header-logo-img-container img {
  height: 90%;
  width: 100%;
  object-fit: contain;
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  /* height: 100%; */
}
.header-logo-img-container p {
  position: absolute;
  bottom: -7px;
  font-size: 8px;
  text-decoration: none;
  color: aliceblue;
  font-family: "favel";
  word-spacing: 0.06rem;
  letter-spacing: 0.02rem;
  font-weight: 100;
  /* font-weight: 500; */
  /* color: white; */
  /* left: 0; */
  /* width: 100px; */
  /* height: 100px; */
  /* height: 100%; */
}

.header-logo-backdrop-container {
  height: 45px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  padding: 0 12.5px;
}

/* .header-logo-backdrop-white {
  height: 55%;
  width: 30px;
  position: absolute;
  background-color: white;
  left: 36px;
  top: -11px;
  rotate: 48deg;
}
.header-logo-backdrop-white-2 {
  height: 22%;
  width: 40px;
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 35px;
} */

.header-logo-backdrop {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 255, 106);
  position: relative;
  bottom: 0;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 100%;
  /* width: 100%; */
  gap: 1.7rem;
  /* width: 50%; */
}

.header nav ul li div {
  height: 100%;
  /* color: var(--text-tertiary); */
}
.header nav ul h1 {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  color: "white";
}

.header-contact-button {
  background-color: var(--accent);
  /* height: 100%; */
  padding: 0.5rem 1rem;
  border-radius: 2px;
}

/* .home-scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  width: 40px;
  height: 40px;
  background-color: black;
  font-size: 1rem;
  padding: 9px;
  border-radius: 20%;
  
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
} */

.footer-container {
  width: 100%;
  height: 70vh;
  height: 70svh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.footer {
  color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #06111c;
  background-color: #001d3d;
  padding: 2rem 5rem;
  padding-bottom: 6rem;

  @media screen and (max-height: 800px) {
    padding: 2rem 2rem;
  }
  /* background-color: rgb(22, 58, 124); */
}

.footer-links {
  display: flex;

  padding: 1rem;
  gap: 4rem;
}

.footer-addressess {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.footer-address {
  border-left: 1px solid white;
  padding-left: 2rem;
}

.no-border-address {
  padding-left: 0;
  border-left: none;
}

.footer-socials {
  display: flex;
  margin-top: auto;
  height: 100%;
  gap: 1rem;
  padding-bottom: 3px;
  padding-left: 0.5rem;
}
.footer-socials {
  font-size: 1.5rem;
}

.footer-contact {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  margin-top: 1rem;
  padding: 1rem;
}

.footer-contact h1 {
  font-size: 0.8rem;
}

.footer-contact p {
  font-size: 0.7rem;
  font-weight: 500;
  color: #dddddd;
}

.footer-logo {
  height: 50px;
  margin-left: auto;
}

.footer-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
